.topicSection {
  display: inline-flex;
  /* display: flex; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */

  gap: 40px;
  margin-left: 20px;
}
.topicBtn:hover {
  opacity: 0.7;
}
.stats:hover {
  opacity: 0.3;
}
.stats {
  display: inline-block;
  margin-left: 30px;
  background-color: red;
  padding: 10px;
  border-radius: 7px;
  border: none;
  color: white;
  font-weight: bold;
}
.plusBtn:hover {
  background-color: blue;
  color: white;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
