.topicSection {
  /* display: inline-flex; */
  display: flex;
  /* display: flex; */
  /* align-items: stretch; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  margin-top: 100px;
  justify-content: space-between;

  gap: 40px;
  margin-left: 20px;
}
.topicBtn:hover {
  opacity: 0.7;
}
.stats:hover {
  opacity: 0.3;
}
.stats {
  display: inline-block;
  margin-left: 30px;
  background-color: red;
  padding: 10px;
  border-radius: 7px;
  border: none;
  color: white;
  font-weight: bold;
}
.plusBtn:hover {
  background-color: blue;
  color: white;
}
.allCollections:hover {
  opacity: 0.6;
  /* background-color: hsl(0, 11%, 89%); */
}
.homeCollectionsFiveTab:hover {
  background-color: hsl(0, 10%, 94%);
}
.relatedCollections:hover {
  opacity: 0.6;
}
/* .allCollectionsImg:hover {
  opacity: 0.5;
} */
/* .form-inline.my-2.my-lg-0.mr-auto {
  display: flex;
  flex-wrap: wrap;
}

.form-control.mr-sm-2 {
  flex-grow: 1; 
  max-width: 800px; 
}

@media (max-width: 576px) {
  .form-control.mr-sm-2 {
    max-width: calc(100% - 20px); 
  }
} */

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
